@import "../variables";

.nav {
    // padding-bottom: 2rem;
    padding-bottom: 2.3vmax;
}

.categories {
    display: flex;
    justify-content: space-between;
    // max-width: 54vmax;
    max-width: 828px;

    li {
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: center;
        color: #2C2C2C;
        font-weight: bold;
        letter-spacing: 0.015em;
        // padding: 15px 30px;
        padding: 1.1vmax 2vmax;
        border-radius: 30px;
        cursor: pointer;
        margin-left: 9px;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            background: $light-gray;
        }
        
        &:active {
            background: lighten($light-black, 77%);
        }
        
        &.active {
            background: $light-black;
            cursor: default;
            color: $white;
            transition: 0.3s all;
        }
    }

}