@import "../variables";

.empty {
    &__content {
        max-width: 35.6vmax;
        margin: 0 auto;
        padding: 4vmax 0 8vmax;
        text-align: center;

        img {
            max-width: 300px;
            max-height: 255px;
        }
        .description {
            padding: 10px 0 3vmax;
            color: #777777;
            font-size: 18px;
            line-height: 145.4%;
        }
    }
    
    &__image {
        padding-bottom: 4.8vmax;
    }
}