// $black: #181818;
$black: #000000;
$light-black: #282828;
$white: #FFFFFF;
$background: #FFDF8C;
$orange: #FE5F1E;
$gray: #8D8D8D;
$light-gray: #F9F9F9;

// $font-stack: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
$font-stack: 'Proxima Nova', sans-serif;