@import "fonts";
@import "variables";
@import "libs/normalize";
@import "components/all";

html, body {
    font-family: $font-stack;
    font-size: 16px;
    background: $background;
}

body {
    padding: 2.8vmax 0;
}

.wrapper{
    width: calc(100vw - 100px);
    max-width: 1400px;
    // margin: 3.13rem auto;
    margin: 0 auto;
    background: $white;
    // padding: 53px 50px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    position: relative;
}

.container {
    margin: 0 5vmax;
    display: flex;
    justify-content: space-between;
}

.content {
    padding: 2.8vmax 0;
}

.nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hide {
    display: none !important;
}

